.header-container{
    /* background-color: #323236; */
    /* opacity: 1;
    z-index: 2;
    position: sticky;
    top: 0; */
}

.navButtons a:hover{
    color: #e60e0e;
    letter-spacing: 5px;
    transition: .7s;
    cursor: pointer;
    border-bottom: #e60e0e solid 3px;
}
.navButtons a{
    padding: 4px 0;
    transition: .7s;
    
    text-decoration: none;
    color: black;
    font-weight: 800;             
    font-family:'Century Gothic';
    

}

