.header-container{
    background-color: #7b7dd0;
    opacity: 1;
    z-index: 2;
    position: sticky;
    top: 0;
}

.navButtons p:hover{
    color: #e60e0e;
    cursor: pointer;
    border-bottom: #e60e0e solid 3px;
}
.navButtons a{
    text-decoration: none;
    color: inherit;             
    font-family:'Century Gothic';
    

}

